.gradle/
build/
bin/
out/
*.class
.vscode/
.idea/
*.iml
.DS_Store
*.log
!gradle/wrapper/gradle-wrapper.jar
# LaTeX auxiliary files
*.pdf
*.aux
*.log
*.toc
*.out
*.fls
*.fdb_latexmk
*.synctex.gz
*.blg
*.bbl
*.latexmkrc